In [3]:
import pandas as pd
import numpy as np

__Task-1__

In [5]:
import pandas as pd
data = {'ID':['A001','A002','A003','A004','A005'],
        'Name':['John Alter','Alice Luxumberg','Tom Sabestine','Nina Adgra','Amy Johny'],
        'Gender':['M','F','M','F','F'],
        'City':['Paris','London','Berlin','Newyork','Madrid'],
        'Age':[25,27,29,31,30]}
df = pd.DataFrame(data)
df.to_csv("Employee.csv",index=False)
print(df)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [7]:
data_1 = {'ID':['A001','A002','A003','A004','A005','A002','A005','A003','A001','A003','A001','A004','A004','A005'],
          'Project':['Project 1','Project 2','Project 3','Project 4','Project 5','Project 6',
                     'Project 7','Project 8','Project 9','Project 10','Project 11','Project 12','Project 13','Project 14'],
          'Cost':[100200,2000000,4500000,5500000,None,680000,400000,350000,None,300000,2000000,1000000,3000000,200000],
          'Status':['Finished','Ongoing','Finished','Ongoing','Finished','Failed','Finished','Failed','Ongoing','Finished','Failed','Ongoing','Finished','Finished']}
df_1 = pd.DataFrame(data_1)
df_1.to_csv("Project.csv",index=False)
print(df_1)

      ID     Project       Cost    Status
0   A001   Project 1   100200.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [9]:
import pandas as pd
data = {'ID':['A001','A002','A003','A004','A005'],'Designation Level':[2,2,3,2,3]}
df = pd.DataFrame(data)
print(df)
df.to_csv("Seniority.csv",index=False)

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

__Task-2__

In [13]:
file = pd.read_csv("Project.csv")
for i in range(len(file)):
    if pd.isna(file.loc[i,'Cost']):
        prev_val = file.loc[:i-1,'Cost'].dropna()
        if not prev_val.empty:
            avg = prev_val.mean()
        else:
            avg = 0
        file.loc[i, 'Cost'] = avg
file.to_csv('Task2.csv', index=False)
print(file)

      ID     Project        Cost    Status
0   A001   Project 1   100200.00  Finished
1   A002   Project 2  2000000.00   Ongoing
2   A003   Project 3  4500000.00  Finished
3   A004   Project 4  5500000.00   Ongoing
4   A005   Project 5  3025050.00  Finished
5   A002   Project 6   680000.00    Failed
6   A005   Project 7   400000.00  Finished
7   A003   Project 8   350000.00    Failed
8   A001   Project 9  2069406.25   Ongoing
9   A003  Project 10   300000.00  Finished
10  A001  Project 11  2000000.00    Failed
11  A004  Project 12  1000000.00   Ongoing
12  A004  Project 13  3000000.00  Finished
13  A005  Project 14   200000.00  Finished

__Task-3__

In [116]:
df=pd.read_csv('Employee.csv')
df[['First Name','Last Name']]=df['Name'].str.split(' ',n=1,expand=True)
df.drop(columns=['Name'], inplace=True)
df.to_csv("updated.csv",index=False)
print(df)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

__Task-4__

In [166]:
df1 = pd.read_csv('updated.csv')      # Basic info
df2 = pd.read_csv('Task2.csv')        # Project info
df3 = pd.read_csv('Seniority.csv')    # Designation info
merged1 = pd.merge(df2, df1, on='ID', how='left')
Final = pd.merge(merged1, df3, on='ID', how='left')
Final.to_csv("Final.csv", index=False)
print(Final)

      ID     Project        Cost    Status Gender     City  Age First Name  \
0   A001   Project 1   100200.00  Finished      M    Paris   25       John
1   A002   Project 2  2000000.00   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.00  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.00   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3025050.00  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.00    Failed      F   London   27      Alice
6   A005   Project 7   400000.00  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.00    Failed      M   Berlin   29        Tom
8   A001   Project 9  2069406.25   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.00  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.00    Failed      M    Paris   25       John
11  A004  Project 12  1000000.00   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.00  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.00  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxumberg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxumberg                  2
6       Johny                  3
7   Sabestine                  3
8       Alter                  2
9   Sabestine                  3
10      Alter                  2
11      Adgra                  2
12      Adgra                  2
13      Johny                  3

__Task-5__

In [152]:
Final=pd.read_csv('Final.csv')
Final['Bonus']= Final.apply(lambda row: row['Cost']*0.05 if str(row['Status'])=='Finished' else 0,axis=1)
print(Final)

      ID     Project        Cost    Status Gender     City  Age First Name  \
0   A001   Project 1   100200.00  Finished      M    Paris   25       John
1   A002   Project 2  2000000.00   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.00  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.00   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3025050.00  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.00    Failed      F   London   27      Alice
6   A005   Project 7   400000.00  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.00    Failed      M   Berlin   29        Tom
8   A001   Project 9  2069406.25   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.00  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.00    Failed      M    Paris   25       John
11  A004  Project 12  1000000.00   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.00  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.00  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2    5010.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  151252.5
5   Luxumberg                  2       0.0
6       Johny                  3   20000.0
7   Sabestine                  3       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  2       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

__Task-6__

In [154]:
final=pd.read_csv('Final.csv')
final.loc[final['Status'] == 'Failed', 'Designation Level'] += 1
final = final[final['Designation Level'] <= 4]
print(final)

      ID     Project        Cost    Status Gender     City  Age First Name  \
0   A001   Project 1   100200.00  Finished      M    Paris   25       John
1   A002   Project 2  2000000.00   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.00  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.00   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3025050.00  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.00    Failed      F   London   27      Alice
6   A005   Project 7   400000.00  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.00    Failed      M   Berlin   29        Tom
8   A001   Project 9  2069406.25   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.00  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.00    Failed      M    Paris   25       John
11  A004  Project 12  1000000.00   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.00  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.00  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxumberg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxumberg                  3
6       Johny                  3
7   Sabestine                  4
8       Alter                  2
9   Sabestine                  3
10      Alter                  3
11      Adgra                  2
12      Adgra                  2
13      Johny                  3

__Task-7__

In [174]:
Final=pd.read_csv("Final.csv")
Final['First Name'] = Final['Gender'].str.strip().map({'M': 'Mr. ', 'F': 'Mrs. '}) + Final['First Name']
Final.drop('Gender', axis=1, inplace=True)
Final.to_csv("Final.csv", index=False)
print(Final)

      ID     Project        Cost    Status     City  Age  First Name  \
0   A001   Project 1   100200.00  Finished    Paris   25    Mr. John
1   A002   Project 2  2000000.00   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4500000.00  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5500000.00   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5  3025050.00  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6   680000.00    Failed   London   27  Mrs. Alice
6   A005   Project 7   400000.00  Finished   Madrid   30    Mrs. Amy
7   A003   Project 8   350000.00    Failed   Berlin   29     Mr. Tom
8   A001   Project 9  2069406.25   Ongoing    Paris   25    Mr. John
9   A003  Project 10   300000.00  Finished   Berlin   29     Mr. Tom
10  A001  Project 11  2000000.00    Failed    Paris   25    Mr. John
11  A004  Project 12  1000000.00   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3000000.00  Finished  Newyork   31   Mrs. Nina
13  A005  Project 14   200000.00  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxumberg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxumberg                  2
6       Johny                  3
7   Sabestine                  3
8       Alter                  2
9   Sabestine                  3
10      Alter                  2
11      Adgra                  2
12      Adgra                  2
13      Johny                  3

__Task-8__

In [180]:
Final=pd.read_csv('Final.csv')
for i in range(len(Final)):
    if Final.loc[i, 'Age'] > 29:
        Final.loc[i, 'Designation Level'] += 1
print(final)

      ID     Project        Cost    Status Gender     City  Age First Name  \
0   A001   Project 1   100200.00  Finished      M    Paris   25       John
1   A002   Project 2  2000000.00   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.00  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.00   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3025050.00  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.00    Failed      F   London   27      Alice
6   A005   Project 7   400000.00  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.00    Failed      M   Berlin   29        Tom
8   A001   Project 9  2069406.25   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.00  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.00    Failed      M    Paris   25       John
11  A004  Project 12  1000000.00   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.00  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.00  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxumberg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxumberg                  3
6       Johny                  3
7   Sabestine                  4
8       Alter                  2
9   Sabestine                  3
10      Alter                  3
11      Adgra                  2
12      Adgra                  2
13      Johny                  3

__Task-9__

In [178]:
Final = pd.read_csv("Final.csv")
Final['Cost'] = pd.to_numeric(Final['Cost'], errors='coerce')
TotalProjCost = Final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
TotalProjCost.rename(columns={'Cost': 'Total cost'}, inplace=True)
print(TotalProjCost)

     ID  First Name  Total cost
0  A001    Mr. John  4169606.25
1  A002  Mrs. Alice  2680000.00
2  A003     Mr. Tom  5150000.00
3  A004   Mrs. Nina  9500000.00
4  A005    Mrs. Amy  3625050.00

__Task-10__

In [182]:
Final = pd.read_csv("Final.csv")
employees_with_o = Final[Final['City'].str.contains('o', case=False)]
print(employees_with_o)

      ID     Project       Cost    Status     City  Age  First Name  \
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina

    Last Name  Designation Level
1   Luxumberg                  2
3       Adgra                  2
5   Luxumberg                  2
11      Adgra                  2
12      Adgra                  2